body {
    background-color: beige;
    margin: 0;
}

html {
    margin: 0;
}

.elem {
    margin-right: 20px;
    margin-left: 20px;
}

.top-bar {
    height: 40px;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    background-color: blue;
}

.list-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.items-list {
    align-items: center;
    justify-content: center;
    width: 95vw;
    background-color: brown;
}

