body {
    background-color: beige;
    margin: 0;
    overflow: hidden;
}

html {
    margin: 0;
}

.elem {
    margin-right: 20px;
    margin-left: 20px;
    transition: all 0.3s ease-out;
    background-color:#e9a5c3;
    border-radius: 3px;
    padding: 3px;
    min-width: 40px;
}

.elem:hover {
    background-color: rgb(141, 201, 148);
}

.top-bar {
    height: 5vh;
    width: 100vw;
    background-color: #e06e9f;
    display: flex;
    border: none;
    align-items: center;
    justify-content: right;
    min-height: 30px;
    font-family: "QLD";
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    background-color: #e09fbb;
    font-family: "QLD";
    font-size: large;
}

.list-container {
    background-color: #bdebb5;
    min-height: 75vh;
    max-height: 75vh;
    margin: 0;
    overflow: auto;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    overflow: scroll;
}

a {
    text-decoration: none;
    color: black;
}