.card-container {
    width: max-content;
    height: 200px;
    border-radius: 25px;
    background-color: beige;
    padding: 5px;
    margin: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-text-container {
    width: 380px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.card-container:hover {
    cursor: pointer;
}