.card-container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    height: auto;
    border-radius: 25px;
    background-color: beige;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-text-container {
    width: 100%;
    font-family: "QLD";
    color: black;
}

/* First row for eventName, price, and orgName */
.first-row {
    display: flex;
    justify-content: space-between; /* Space elements evenly */
    align-items: center;
    margin-bottom: 10px;
}

/* Second row for the cuisine */
.second-row {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-style: italic;
    margin-bottom: 10px;
}

/* Third row for address, date, and time */
.third-row {
    display: flex;
    justify-content: space-between; /* Space elements evenly */
    align-items: center;
    margin-top: 10px;
}

/* Styling for org-name and price */
#org-name {
    color: grey;
}

#price {
    color: green;
}

#date {
    color:cadetblue;
}